@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 17px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/
:root {
  --color-blue: #1b3764;
  --color-yellow: #ffca42;
  --color-yellow-hover: #faba19;
  --color-yellow-active: #e7ac18;
  --color-blue-grey: #b4c7e7;
  --color-light-grey: #969aa0;
  --color-grey-bg: #f4f8ff;
  --color-grey-bg-light: #f5f8fc;
}

body {
  font-family: "Inter", sans-serif;
}
body.is-fixed {
  overflow-y: hidden;
  position: fixed;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.primary-btn {
  font-size: 1.1rem;
  line-height: 148%;
  color: var(--color-blue);
  background-color: var(--color-yellow);
  min-height: 66px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 52px;
  font-family: "Cardo", sans-serif, sans-serif, serif;
  letter-spacing: 0.57px;
  transition: background-color 0.2s linear;
  text-transform: capitalize;
}
.primary-btn:hover {
  background-color: var(--color-yellow-hover);
}
.primary-btn:active {
  background-color: var(--color-yellow-active);
}

.secondary-btn {
  font-family: "Cardo", sans-serif, sans-serif;
  font-size: 1.1rem;
  line-height: 150%;
  letter-spacing: 0.38px;
  color: var(--color-blue);
  min-height: 66px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 52px;
  background-color: transparent;
  border: 2px solid var(--color-yellow);
  transition: background-color 0.2s linear, border 0.2s linear, color 0.2s linear;
}
.secondary-btn:hover {
  background-color: var(--color-yellow);
}
.secondary-btn:active {
  background-color: var(--color-yellow-hover);
  border: 2px solid var(--color-yellow-hover);
}

.title-block {
  display: flex;
  justify-content: center;
}
.title-block__title {
  font-family: "Cardo", sans-serif, sans-serif;
  font-size: 2.47rem;
  line-height: 119%;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 26px;
  color: var(--color-blue);
}
.title-block__title::after {
  content: "";
  width: 50px;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--color-yellow);
}
.title-block__title_white {
  color: #fff;
}
.title-block_left {
  justify-content: start;
}
.title-block_left .title-block__title::after {
  left: 0;
  transform: translateX(0);
}

.header {
  background-color: var(--color-blue);
  position: relative;
}
.header__body {
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__socials {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 38px;
}
@media (max-width: 1066.98px) {
  .header__socials {
    display: none;
  }
}
.header__social {
  width: 45px;
  height: 45px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s linear;
}
.header__social:hover {
  background-color: rgb(235, 235, 235);
}
.header__nav {
  margin-left: auto;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 48px;
  z-index: 50;
}
.navbar.is-active {
  transform: translateX(0);
}
@media (max-width: 870px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #284a80;
    border-bottom-left-radius: 5px;
    padding: 90px 50px 15px 15px;
    gap: 30px;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
.navbar__link {
  line-height: 153%;
  letter-spacing: 0.17px;
  color: #f6f8fc;
  transition: color 0.2s linear;
}
.navbar__link:hover {
  color: var(--color-yellow);
}
.navbar__link_svg svg path {
  transition: fill 0.2s linear;
}
.navbar__link_svg:hover svg path {
  fill: var(--color-yellow);
}
@media (max-width: 870px) {
  .navbar__btn {
    display: none;
  }
}

.nav-toggler {
  padding: 6px;
  z-index: 51;
  background-color: transparent;
  display: none;
}
.nav-toggler__box {
  width: 30px;
  height: 22px;
  position: relative;
}
.nav-toggler span {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #fff;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.nav-toggler span:nth-child(1) {
  transform: translateY(-11px);
}
.nav-toggler span:nth-child(2) {
  transform: translateY(-50%);
}
.nav-toggler span:nth-child(3) {
  transform: translateY(9px);
}
@media (max-width: 870px) {
  .nav-toggler {
    display: inline-block;
  }
}
.nav-toggler.is-active span:nth-child(1) {
  transform: rotate(-45deg);
}
.nav-toggler.is-active span:nth-child(2) {
  opacity: 0;
}
.nav-toggler.is-active span:nth-child(3) {
  transform: rotate(45deg);
}

.hero {
  background-color: var(--color-blue);
}
.hero__body {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 102px;
  padding: 100px 0;
}
@media (max-width: 1066.98px) {
  .hero__body {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .hero__body {
    padding: 50px 0;
  }
}
.hero__content {
  max-width: 562px;
}
@media (max-width: 1066.98px) {
  .hero__content {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .hero__content {
    max-width: 100%;
  }
}
.hero__uptitle {
  font-family: "Cardo", sans-serif, sans-serif, serif;
  font-size: 1.2rem;
  line-height: 171%;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  position: relative;
  padding-left: 49px;
  margin-bottom: 10px;
}
.hero__uptitle::before {
  content: "";
  width: 35px;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: var(--color-yellow);
}
@media (max-width: 424.98px) {
  .hero__uptitle {
    font-size: 1rem;
  }
}
.hero__title {
  font-family: "Cardo", sans-serif, sans-serif, serif;
  font-size: 3.8rem;
  line-height: 122%;
  letter-spacing: 1.3px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 2.9rem;
  }
}
@media (max-width: 424.98px) {
  .hero__title {
    font-size: 2.4rem;
  }
}
.hero__text {
  font-size: 1.06rem;
  line-height: 155%;
  margin-bottom: 42px;
  color: var(--color-blue-grey);
}
.hero__media {
  flex: 0 1 45.53%;
}
.hero__image {
  position: relative;
  padding-bottom: 135%;
}
.hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(-1px 2px 11px rgba(0, 0, 0, 0.2));
}
@media (max-width: 1066.98px) {
  .hero__image {
    display: none;
  }
}

.buttons-hero {
  display: flex;
  align-items: center;
  gap: 51px;
  margin-bottom: 47px;
}
@media (max-width: 599.98px) {
  .buttons-hero {
    flex-direction: column;
  }
}
@media (max-width: 599.98px) {
  .buttons-hero__btn {
    width: 100%;
  }
}
.buttons-hero__btn_underlined {
  font-family: "Cardo", sans-serif, sans-serif, serif;
  font-size: 1.1rem;
  line-height: 158%;
  letter-spacing: 0.38px;
  text-transform: capitalize;
  color: #fff;
  position: relative;
  padding-bottom: 6px;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.buttons-hero__btn_underlined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
.buttons-hero__btn_underlined:hover {
  color: var(--color-yellow);
}
.buttons-hero__btn_underlined:hover::after {
  background-color: var(--color-yellow);
}

.achievements-hero {
  display: flex;
  justify-content: space-between;
  max-width: 523px;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 599.98px) {
  .achievements-hero__col:last-child {
    flex: 1 0 100%;
  }
}
.achievements-hero__item {
  position: relative;
  padding-left: 26px;
}
.achievements-hero__item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  top: 6px;
  left: 0;
}
.achievements-hero__title {
  font-family: "Cardo", sans-serif, sans-serif, serif;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0.48px;
  margin-bottom: 12px;
}

.author__body {
  padding: 130px 0 150px;
}
@media (max-width: 767.98px) {
  .author__body {
    padding: 50px 0;
  }
}
.author__title-block {
  margin-bottom: 70px;
  text-align: center;
}
.author__content {
  display: flex;
  gap: 48px;
}
@media (max-width: 1099.98px) {
  .author__content {
    flex-direction: column;
  }
}

.block-author {
  display: flex;
  align-items: center;
  flex: 0 1 50%;
  gap: 30px;
}
@media (max-width: 1099.98px) {
  .block-author {
    flex: 0 1 100%;
    justify-content: center;
  }
}
@media (max-width: 529.98px) {
  .block-author {
    flex-direction: column;
  }
}
.block-author__img-col {
  flex: 0 1 285px;
}
.block-author__image {
  position: relative;
  padding-bottom: 134%;
}
@media (max-width: 529.98px) {
  .block-author__image {
    padding-bottom: 0;
  }
}
.block-author__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
}
@media (max-width: 529.98px) {
  .block-author__image img {
    position: relative;
  }
}
.block-author__text-col {
  max-width: 280px;
}
.block-author__title {
  font-family: "Cardo", sans-serif, sans-serif;
  font-size: 1.88rem;
  line-height: 119%;
  letter-spacing: 0.32px;
  color: var(--color-blue);
  margin-bottom: 7px;
}
.block-author__subtitle {
  font-size: 1.2rem;
  line-height: 157%;
  color: var(--color-yellow);
  margin-bottom: 17px;
}
.block-author__text p {
  font-size: 1.1rem;
  line-height: 150%;
  color: var(--color-light-grey);
  margin-bottom: 13px;
}
.block-author__add-info {
  margin-bottom: 27px;
}
.block-author__add-info span {
  font-family: "Cardo", sans-serif, sans-serif;
  font-size: 1.4rem;
  line-height: 120%;
  color: var(--color-blue);
  position: relative;
  padding-left: 26px;
}
.block-author__add-info span::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-yellow);
  border-radius: 50%;
}

.about {
  background-color: var(--color-grey-bg-light);
}
.about__body {
  padding: 150px 0 140px;
  display: flex;
  align-items: center;
  gap: 150px;
}
@media (max-width: 1074.98px) {
  .about__body {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .about__body {
    padding: 50px 0;
  }
}
.about__media {
  flex: 0 1 545px;
  padding: 40px 0 0 40px;
}
@media (max-width: 767.98px) {
  .about__media {
    padding: 0;
    flex: 0 1 auto;
  }
}
.about__image {
  position: relative;
  padding-bottom: 118%;
  border: 10px solid var(--color-yellow);
}
@media (max-width: 1074.98px) {
  .about__image {
    padding-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .about__image {
    border: none;
  }
}
.about__image img {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
}
@media (max-width: 1074.98px) {
  .about__image img {
    position: relative;
  }
}
@media (max-width: 767.98px) {
  .about__image img {
    top: 0;
    left: 0;
  }
}
.about__content {
  flex: 0 1 605px;
}
.about__title-block {
  margin-bottom: 33px;
}
.about__text {
  font-size: 1.1rem;
  line-height: 180%;
  color: var(--color-light-grey);
  max-width: 560px;
  margin-bottom: 34px;
}
.about__cols {
  margin-bottom: 55px;
}

.cols-about {
  display: flex;
  gap: 26px;
}
.cols-about__col:not(:last-child) {
  padding-right: 30px;
  border-right: 1px solid var(--color-yellow);
}
.cols-about__number {
  font-family: "Cardo", sans-serif, sans-serif;
  font-size: 3.1rem;
  line-height: 143%;
  color: var(--color-blue);
}
@media (max-width: 489.98px) {
  .cols-about__number {
    font-size: 2.5rem;
  }
}
.cols-about__text {
  font-size: 1rem;
  line-height: 127%;
  color: var(--color-light-grey);
}
@media (max-width: 489.98px) {
  .cols-about__text {
    font-size: 0.8rem;
  }
}

.contact-about {
  padding: 15px 20px;
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 489.98px) {
  .contact-about {
    flex-direction: column;
    text-align: center;
  }
}
.contact-about__media {
  flex: 0 1 130px;
}
.contact-about__image {
  position: relative;
}
.contact-about__title {
  font-family: "Cardo", sans-serif;
  font-size: 1.3rem;
  line-height: 120%;
  color: var(--color-yellow);
  margin-bottom: 10px;
}
.contact-about__text {
  font-size: 1.05rem;
  line-height: 156%;
  color: var(--color-blue-grey);
}
.contact-about__link {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.contact-about__link:hover {
  text-decoration: underline;
}

.sponsors__body {
  padding: 130px 0;
}
@media (max-width: 767.98px) {
  .sponsors__body {
    padding: 50px 0;
  }
}
.sponsors__title-block {
  margin-bottom: 50px;
  text-align: center;
}
.sponsors__content {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 16px;
  justify-content: center;
}
@media (max-width: 1244.98px) {
  .sponsors__content {
    grid-template-columns: repeat(2, 300px);
    gap: 45px;
  }
}
@media (max-width: 624.98px) {
  .sponsors__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sponsors__card {
  text-align: center;
}
.sponsors__img {
  margin-bottom: 22px;
}
.sponsors__title {
  font-family: "Cardo", sans-serif;
  font-size: 1.4rem;
  line-height: 120%;
  color: var(--color-blue);
  margin-bottom: 16px;
}
.sponsors__text {
  font-size: 1.1rem;
  line-height: 150%;
  color: var(--color-light-grey);
  max-width: 280px;
  margin: 0 auto;
}

.copy {
  background-color: var(--color-blue);
}
.copy__body {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .copy__body {
    padding: 50px 0;
    flex-direction: column-reverse;
  }
}
.copy__content {
  flex: 0 1 539px;
}
@media (max-width: 767.98px) {
  .copy__content {
    flex: 0 1 auto;
  }
}
.copy__title-block {
  margin-bottom: 27px;
}
.copy__text {
  font-size: 1.1rem;
  line-height: 150%;
  color: var(--color-blue-grey);
  margin-bottom: 27px;
}
.copy__btn {
  color: #fff;
}
.copy__btn:hover {
  color: var(--color-blue);
}
.copy__media {
  flex: 0 1 560px;
}
@media (max-width: 767.98px) {
  .copy__media {
    flex: 0 1 auto;
  }
}
.copy__image {
  position: relative;
  padding-bottom: 70%;
}
@media (max-width: 767.98px) {
  .copy__image {
    padding-bottom: 0;
  }
}
.copy__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .copy__image img {
    position: relative;
  }
}

.learn__body {
  padding: 136px 0 140px;
}
@media (max-width: 767.98px) {
  .learn__body {
    padding: 50px 0;
  }
}
.learn__title-block {
  margin-bottom: 70px;
  text-align: center;
}
.learn__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1092.98px) {
  .learn__content {
    flex-direction: column-reverse;
  }
}
.learn__cards {
  flex: 0 1 636px;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 272px);
  gap: 30px;
}
@media (max-width: 1092.98px) {
  .learn__cards {
    flex: 0 1 auto;
  }
}
@media (max-width: 619.98px) {
  .learn__cards {
    display: block;
  }
  .learn__cards > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.learn__media {
  flex: 0 1 535px;
  padding: 40px 0 0 40px;
}
@media (max-width: 767.98px) {
  .learn__media {
    padding: 0;
    flex: 0 1 auto;
  }
}
.learn__image {
  position: relative;
  padding-bottom: 118%;
  border: 10px solid var(--color-yellow);
}
@media (max-width: 1092.98px) {
  .learn__image {
    padding-bottom: 0;
  }
}
@media (max-width: 619.98px) {
  .learn__image {
    border: none;
  }
}
.learn__image img {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
}
@media (max-width: 1092.98px) {
  .learn__image img {
    position: relative;
  }
}
@media (max-width: 619.98px) {
  .learn__image img {
    top: 0;
    left: 0;
  }
}

.card-learn {
  background-color: #f4f8ff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Cardo", sans-serif;
}
.card-learn__number {
  margin-bottom: 30px;
  font-size: 1.4rem;
  line-height: 125%;
  color: var(--color-blue);
  display: inline-flex;
  background-color: var(--color-yellow);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.card-learn__text {
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--color-blue);
  max-width: 227px;
}
@media (max-width: 619.98px) {
  .card-learn__text {
    max-width: 100%;
  }
}

.knowledge {
  background-color: var(--color-grey-bg);
}
.knowledge__body {
  padding: 116px 0 130px;
}
@media (max-width: 767.98px) {
  .knowledge__body {
    padding: 50px 0;
  }
}
.knowledge__title-block {
  text-align: center;
  margin-bottom: 70px;
}
.knowledge__content {
  display: grid;
  gap: 40px 30px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 70px;
}
@media (max-width: 767.98px) {
  .knowledge__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
.knowledge__bottom {
  text-align: center;
}
.knowledge__btn {
  margin-bottom: 34px;
}
@media (min-width: 319.98px) {
  .knowledge__btn {
    padding: 5px 22px;
  }
}
@media (min-width: 439.98px) {
  .knowledge__btn {
    padding: 5px 92px;
  }
}
.knowledge__text {
  max-width: 330px;
  margin: 0 auto;
  font-size: 1.05rem;
  line-height: 158%;
  color: var(--color-light-grey);
}
.knowledge__text a {
  color: var(--color-blue);
  letter-spacing: 0.19px;
}
.knowledge__text a:hover {
  text-decoration: underline;
}

.card-knowledge {
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.card-knowledge__title {
  font-family: "Cardo", sans-serif;
  font-size: 1.4rem;
  line-height: 120%;
  color: var(--color-blue);
  margin-bottom: 21px;
}
.card-knowledge__text {
  font-size: 1.1rem;
  line-height: 170%;
  color: var(--color-light-grey);
  margin-bottom: 10px;
  flex: 1 1 100%;
}

.card-info {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
  row-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.card-info__block {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card-info__title {
  font-family: "Cardo", sans-serif;
  font-size: 1.3rem;
  line-height: 140%;
  color: var(--color-blue);
}
.card-info__title span {
  position: relative;
  padding-left: 26px;
}
.card-info__title span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.card-info__text {
  font-size: 1rem;
  line-height: 159%;
  color: var(--color-light-grey);
}

.comments__body {
  padding: 130px 0 150px;
  display: flex;
  gap: 60px;
  align-items: center;
}
@media (max-width: 1023.98px) {
  .comments__body {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .comments__body {
    padding: 50px 0;
  }
}
.comments__content {
  flex: 0 1 435px;
}
@media (max-width: 1023.98px) {
  .comments__content {
    flex: 0 1 auto;
  }
}
.comments__title-block {
  margin-bottom: 33px;
}
.comments__text {
  font-size: 1.1rem;
  line-height: 180%;
  color: var(--color-light-grey);
  margin-bottom: 22px;
}
.comments__sub-text {
  font-size: 1.05rem;
  line-height: 158%;
  color: var(--color-blue);
}
.comments__cards {
  flex: 0 1 782px;
  display: grid;
  gap: 20px;
  grid-template: repeat(2, 1fr)/repeat(2, minmax(300px, 380px));
}
@media (max-width: 1023.98px) {
  .comments__cards {
    flex: 0 1 auto;
  }
}
@media (max-width: 767.98px) {
  .comments__cards {
    grid-template: auto/repeat(1, 1fr);
  }
}
@media (min-width: 767.98px) {
  .comments__card:last-child {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: auto 0;
  }
}

.rating-comments {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.rating-comments__dots {
  display: flex;
  gap: 5px;
  align-items: center;
}
.rating-comments__dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  border: 1px solid var(--color-yellow);
}
.rating-comments__dot:last-child {
  background-color: transparent;
}
.rating-comments__num {
  font-size: 1.3rem;
  line-height: 120%;
  color: var(--color-blue);
}

.card-comments {
  background-color: var(--color-blue);
  padding: 30px 40px 25px 35px;
}
@media (max-width: 1294.98px) {
  .card-comments {
    padding: 20px;
  }
}
.card-comments__header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 424.98px) {
  .card-comments__header img {
    width: 60px;
    height: 60px;
  }
}
.card-comments__title {
  font-family: "Cardo", sans-serif;
  font-size: 1.4rem;
  line-height: 120%;
  color: #fff;
  margin-bottom: 15px;
}
.card-comments__dots {
  display: flex;
  gap: 3px;
}
.card-comments__dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--color-yellow);
  border-radius: 50%;
}
.card-comments__quote {
  font-family: "Cardo", sans-serif;
  font-size: 1.3rem;
  line-height: 150%;
  color: #fff;
  margin-bottom: 13px;
}
.card-comments__quote::before {
  content: "“";
}
.card-comments__quote::after {
  content: "”";
}
.card-comments__text {
  font-size: 1.05rem;
  line-height: 160%;
  color: var(--color-blue-grey);
}